@charset "utf-8";
/*  2023 PORTFOLIO 메인 css - main.css */

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Mohave:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@200;300;400;500;600;700;800;900&display=swap');

/* 
font-family: 'Knewave', system-ui;
font-family: 'Mohave', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
*/

/**************************공통 디자인****************************/
html, body{
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	font-family: 'Noto Sans KR', sans-serif;
	
}
img{
	border:none;/*이미지에 링크시 보더없앰*/
}
a{
	display:block;/*a태그는 기본 inline이지만 block요소를 포함하기 위해 block으로 변경함.*/
	text-decoration:none;
	width:100%;
	height:100%;
	color:#000;
}
ul,li{
	margin:0;
	padding:0;
	list-style:none;	
}

/***************** 헤더 ******************/
header.top-area {
    display: block;
    width: 100%;
    height: 10vh;
}


/***************** 메인 인트로페이지 *****************/


section{
    position: relative;
    width:100%;
	height:100%;
}


.intro1_title_1stline{
	font-family: 'Mohave', sans-serif;
	font-size: 4vw;
	text-align: center;
	letter-spacing: -0.1rem;
	margin: 0 auto; 
	color: #fff;
}
.intro1_title_2stline{
	font-family: 'Knewave', system-ui;
	font-size: 7vw;
	text-align: center;
	margin: 0 auto;
	color: #fff;
}

.intro_bottom{
    position: relative;
	top: 15vh;
	padding: 0 2vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
	color: #fff;
}
