@charset "utf-8";
/* 아로마티카 PJ 공통핵심 CSS - core.css */
/* 웹폰트, 공용클래스 */

/*********** 1. 웹폰트 ***********/
@import url();



/* 
  [ 공통 클래스 이름정의 ]
  1. ibx - inside box 속박스
  2. pt1, pt2 - part1, part2 각 부분박스(비율적용)
  3. cbx - content box 내용박스
  4. bgi - background image 관련 속성
*/

/************************* 상단영역 *************************/
#header{
    width: 100%;
  
}
/* 상단메뉴 */
.tmenu{
    position: relative;
    display: flex;
    /* gap: 38vw; */
    height: 7vh;
    background-color: #112b23;
    justify-content: space-between;
}

/******* 상단_왼쪽_햄버거메뉴 *******/
.left_menu {
    width: 10%;
    height: 100%;
}

#header .ham_menu{
    display: flex;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

#header .ham_menu span{
    
}

/* 상단_왼쪽_햄버거메뉴 단 하나씩 */

#header .ham_menu .one{
    
}

#header .ham_menu .two{
    position: relative;
    top: 10%;
}

#header .ham_menu .three{
    position: relative;
    top: 98%;
}
/* 상단_왼쪽_gnb */
.side_menu{
    /* 안보이게 */
    display: none;
}

/******* 상단_로고 *******/
#header .logo{
    /* position: static; */
    /* top: 50%; */
    /* left: 50%; */
    
}

/******* 상단_오른쪽_아이콘 *******/
.right_menu img{
    position: flex;
    width: 35px;
}

/************************* 메인영역 *************************/

/* 배경영상 */
#myvid{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 컨텐츠 박스 */
.main-area{
    position: relative;
    /* 부모자격 */
}

.pt1 {
    aspect-ratio: 16/9;
    padding-top: 7vh;
}

/* 컨텐츠 박스 pt2 */
section.pt2 {
    display: flex;
    background-color: #bdae9e;
}

.pt2 .cbx2-1{
    
}

.pt2 .cbx2-2 img{
    height: 930px;
}

/* 컨텐츠 박스 pt2 두번째 cbx bgi  */
.pt2 .cbx2-2 .bgi {
    height: 20px;

}



/************************* 하단영역 *************************/


