@charset "utf-8";
/* 메가박스 PJ 미디어쿼리 CSS - media.css */

/************* 1370px 이하 사이즈 시작 *************/
@media screen and (max-width: 1370px) {
  .bottom-menu a {
      /* font-size: 2.4rem; */
      font-size: min(1.7vw,19px);
  }
  .inbox {
    padding: 0 20px;
  }


}


/************* 1370px 이하 사이즈 종료 *************/

/************* 1050px 이하 사이즈 시작 *************/
@media screen and (max-width: 1050px) {
  /* 속박스 */
  .inbox {
    padding: 0 20px;
  }

  .bottom-menu a {
    /* font-size: 2.4rem; */
    font-size: 1.7vw;
}


  .ft_info address {
    white-space: nowrap;
  }
  .footer .partbox > ul {
    padding-top: 20px;
  }

  .footer .cs-num {
    white-space: nowrap;
    font-size: 4.2rem;
  }
  /* 푸터 세번째 박스 */
  .footer-section03 {
    gap: 0 5vw;
  }
}
/************* 1050px 이하 사이즈 종료 *************/

/************* 800px 이하 사이즈 시작 *************/
/* 최대 800px 이하 시작 */
@media screen and (max-width: 800px) {
  /* 원리 - 그리드 구성 클래스 셋을 다른이름으로 하나 더 만들고 미리 요소에 클래스를 주면 해당 크기로 미디어쿼리 작동시 그리드 값을 덮어씀! */

  /* 레이아웃구성 */
  .col2-1 {
    width: 8.33%;
  }
  .col2-2 {
    width: 16.66%;
  }
  .col2-3 {
    width: 25%;
  }
  .col2-4 {
    width: 33.33%;
  }
  .col2-5 {
    width: 41.66%;
  }
  .col2-6 {
    width: 50%;
  }
  .col2-7 {
    width: 58.33%;
  }
  .col2-8 {
    width: 66.66%;
  }
  .col2-9 {
    width: 75%;
  }
  .col2-10 {
    width: 83.33%;
  }
  .col2-11 {
    width: 91.66%;
  }
  .col2-12 {
    width: 100%;
  }

  /* 숨길 박스 */
  .col2-none {
    display: none;
  }
  /* 보일 박스 */
  .col2-block {
    display: block;
  }

  /************* 상단영역 *************/
  /* 상단 flex 박스 클래스 */
  #header .flex-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
  }
  /* 헤더 배경 */
  .header__wrap {
    padding-bottom: 10px;
  }
  /* 로고 */
  /* 1-1.로고박스 */
  .logo {
    height: 30%;
  }
  .logo img {
    display: block;
    margin: 10px auto;
    width: 90%;
    padding-top: 10px;
  }
  /* 탑메뉴숨기기 */
  .top-menu {
    display: none;
  }

  /* gnb */
  nav.gnb.bottom-menu {
    position: relative;
  }

  .gnb > ul > li {
    padding-left: 0;
  }
  .gnb > ul {
    justify-content: space-between;
  }
  /* gnb메뉴 폰트사이즈 변경 */
  .bottom-menu a {
    /* 폰트사이즈 */
    font-size: 2.1rem;
  }

  /* 서브메뉴 안보이게 */
  .smenu>ul>li {
    display: none;
    width: 100%;
    height: auto;
    font-size: 1rem;
    white-space: nowrap;
    text-align: center;
  }

  .smenu > ul {
    display: none;
    position: absolute;
    background-color: rgb(0 0 0 / 49%);
    border-radius: 5%;
    margin-top: 15px;
    padding: 15px 10px;
    backdrop-filter: blur(3px);
    width: 100%;
  }

  /* 배너영역 */
  #banner {
    /* 박스비율 - 3:4 */
    aspect-ratio: 3/4;
  }

  /* 컨텐츠간 간격 */
  .group-part.now_mv {
    padding: 10vh 0;
  }

  .grmenu ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .partbox h2 a {
    line-height: 1.5;
    font-size: max(1.5vw,20px);
  }
  
  .third {
    grid-column: 1/3;
    grid-row: 3/3;
    /* width: 82%; */
  }


  .last {
    grid-column: 1/3;
    grid-row: 2/3;
  }


  /* 푸터 */
  /* 푸터 플렉스박스 공통 */
  #footer flex-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }

  .footer .partbox > ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 1.4rem;
    white-space: nowrap;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 100px;
    align-items: center;
    justify-content: space-evenly;
  }

  .footer .partbox {
    height: auto;
    text-align: center;
  }

  .footer-section03 {
    display: flex;
    gap: 0 6.8vw;
    flex-wrap: wrap;
    justify-content: space-around;
}
}
/************* 800px 이하 사이즈 종료 *************/
