@charset "utf-8";
/* 아로마티카 PJ 공통핵심 CSS - core.css */
/* 웹폰트, 공용클래스 */

/*********** 1. 웹폰트 ***********/
@font-face {
    font-family: 'Pretendard-Regular';
    src: url(../fonts/Pretendard-Regular.woff) format("woff");
}

@font-face {
    font-family: 'MinervaModern-Bold';
    src: url(../fonts/MinervaModern-Bold.woff) format("woff");
}

@font-face {
    font-family: 'MinervaModern-Regular';
    src: url(../fonts/MinervaModern-Regular.woff) format("woff");
}

/* 
  [ 공통 클래스 이름정의 ]
  1. ibx - inside box 속박스
  2. pt1, pt2 - part1, part2 각 부분박스(비율적용)
  3. cbx - content box 내용박스
  4. bgi - background image 관련 속성
*/

/************************* 상단영역 *************************/
#header{
    width: 100%;
  
}
/* 상단메뉴 */
.tmenu{
    position: relative;
    display: flex;
    height: 7vh;
    background-color: #112b23;
    justify-content: space-between;
}

/******* 상단_왼쪽_햄버거메뉴 *******/
.left_menu {
    position: relative;
    width: 10%;
    height: 100%;
}

.ham_menu {
    display: flex;
    height: 55%;
    width: 26%;
    /* align-content: space-between; */
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
    padding: 14px;
    justify-content: space-around;
}

#header .ham_menu span{
    /* display: flex; */
    width: 100%;
    height: 2px;
    background-color: #fff;
}

/* 상단_왼쪽_gnb */
.side_menu{
    /* 안보이게 */
    display: none;
}

/******* 상단_로고 *******/
h1.logo {
    height: 100%;
}
.logo img{
    height: 100%;
    cursor: pointer;
}

#header .logo{
    /* position: static; */
    /* top: 50%; */
    /* left: 50%; */
    
}

/******* 상단_오른쪽_아이콘 *******/
.right_menu img{
    width: 35px;
}
.right_menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons {
    display: flex;
}
/************************* 메인영역 *************************/
#main-area,.main-area{
    width: 100%;
}

/************************* 하단영역 *************************/
div#footer-area{
    background: #bdae9e;
}

.flogo img{
    width: 200px;
}

