/* 아로마티카 PJ 미디어쿼리 CSS - mediaquery.css */
/* 웹폰트, 공용클래스 */

/* 1050px이하 미디어쿼리 */
@media screen and (max-width:1050px) {
    section .pt2.tbox{
        padding: 60px 0;
        text-align: center;
    }
    
    section .pt2.tbox p {
        font-size: 18px;
    }
} /************* 1050px 이하 사이즈 종료 *************/



/* 800px이하 미디어쿼리 */

@media screen and (max-width:800px) {
    main .page{
        height: auto;
        /* box-sizing: border-box; */
    }
    /* 헤더 */
    .right_menu img {
        width: 6vw;
    }

    /* top menu */
    #header .tmenu {
        justify-content: space-around;
    }

    #header .tmenu .ham_menu {
        padding: 0.7rem 0;
        width: 8vw;
    }

    /* 오른쪽 메뉴 _ icon */
    #header .right_menu img {
        width: 7vw;
    }
    
    .icons {
        gap: 1vw;
    }


    /* 두번째파트 css */
    section .pt2.tbox{
        padding: 15vh 0;
        text-align: center;
    }
    
    section .pt2.tbox p {
        font-size: 1.5rem;
    }

    section .pt2.cbx2-2.bgi {
        background-position-y: -161px;
    }

    section.pt2 {
        display: flex;
        background-color: #bdae9e;
        /* height: 930px; */
        flex-direction: column;
    }
    #main-area .pt2 .cbx2-1 {
        width: 100%;
        height: auto;
    }
    #main-area .pt2 .cbx2-2 {
        width: 100%;
        height: 100%;
    }

    .lavender img, .majoram img, .jojobar img {
        display: none;
    }

    /* 세번째파트 css */
    .cont #main-area .pt3 {
        background-color: #e2d9d2;
        padding: 5vh 0;
    }

    .pt3 .pt3-1 .titlebox {
        width: 100%;
        padding-bottom: 2vh;
        font-size: 1.7rem;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .cbx.titlebox3-1-1 {
        text-align: center;
        padding-bottom: 2vh;
    }

    .pt3-1 .ibox{
        display: none;
    }

    /* pt3-1 이미지박스_모바일 박스 */
    .cont .pt3-1 .ibox_mobile{
        display: block;
        position: relative;
        width: 720px;
        height: 484px;
        overflow: hidden;
        margin: 0 auto;
    }

    /* pt3-1 이미지 박스 속 이미지 */
    .pt3-1 .ibox_mobile img{
        height: 130%;
        width: 100%; 
        object-fit: cover;
        filter: brightness(0.9);
    }

    .cont .pt3 .more3-1 {
        position: absolute;
        display: none;
        width: 100%;
        /* height: auto; */
        top: 18vh;
        left: -18.7px;
        background: transparent;
    }

    .cont .pt3 .more3-1 .howtext p {
        /* position: relative; */
        /* top: 2vh; */
        /* left: 5vw; */
        font-size: 1rem;
        text-align: center;
        line-height: 1.5;
    }

    .cont .pt3-hr {
        height: 1px;
        margin: 1.7vh auto 2.2vh;
    
    }

    .cont .pt3-2 {
        position: relative;
        top: 18vh;
        left: 0;
    }

    /* pt3-2 이미지박스_모바일 박스 */
    .cont .pt3-2 .ibox_mobile {
        display: block;
        position: relative;
        width: 800px;
        /* height: 100vh; */
        overflow: hidden;
        margin: 0 auto;
    }

    .pt3-2 .ibox{
        display: none;
    }

    .pt3 .pt3-2 .titlebox {
        width: 100%;
        padding-bottom: 2vh;
        font-size: 1.7rem;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .cbx.titlebox3-2-1 {
        text-align: center;
        padding-bottom: 2vh;
    }
    .cbx.titlebox3-2-2 img{
        display: none;
    }
    .cbx.titlebox3-2-2{
        text-align: center;
    }

    .pt3-2 .ibox_mobile img {
        height: 59vh;
        width: 100%;
        object-fit: cover;
        filter: brightness(0.9);
    }

    .cont .pt3 .more3-2 {
        position: absolute;
        padding-top: 10vh;
        left: 0;
        text-align: center;
        line-height: 1.5;
        width: 100%;
        height: auto;
        background-color: transparent;
        border: 0px;
        color: #fff;
    }

    .lavender, .majoram, .jojobar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .laventxt {
        padding-bottom: 20px;
    }
    
    .cont .laventxt p:nth-child(1) {
        padding: 0
    }
    .cont .laventxt p:nth-child(2) {
        font-size: 1rem;
    }

    /* .majoram {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    } */
    .cont .majotxt p:nth-child(2) {
        font-size: 1rem;
    }
    .cont .jojotxt p:nth-child(2) {
        font-size: 1rem;
    }

} /************* 800px 이하 사이즈 종료 *************/