@charset "utf-8";
/* 메가박스 레이아웃 - main.css */

/* 초기화 */
html,body,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

/* 공사중표시 */
body *{
    outline: 2px dashed #ccc;
}
body>div>*{
    outline-color: red;
}

/* col-숫자 : 숫자는 기둥의 수
한줄에는 최대한이 12기둥이 되어야함! */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* 파티션박스 */
.partbox{
    /* 보더/패딩 포함박스 */
    box-sizing: border-box;
    /* 내부패딩 */
    padding: 15px;
    /* 임시 보이게 보더 */
    border: 2px dotted blue;
    /* 높이값이 속박스에 있을 경우 채우기 셋팅 - 높이값이 파티션 박스에 있으면 안씀! */
    height: 100%;
}

/*************** 1. 상단영역 ******************/
#header{
    background-color: lightblue;
}
.header .partbox{
    height: 100px;
}

/*************** 2. 배너영역 ******************/
#banner{
    background-color: lightcoral;
}
.banner .partbox{
    height: 930px;
}

/*************** 3. 메인영역 ******************/
#main{
    background-color: lightgrey;
}

/*************** 3-1. 현재상영작 **************/
#now_mv{
    background-color: beige;
}
.main .now_mv .partbox{
    height: 200px;
}
/*************** 3-2. 상영예정작 **************/
#cs_mv{
    background-color: rgb(206, 206, 206);
}
.main .cs_mv .partbox{
    height: 200px;
}
/*************** 3-3. 스페셜관 **************/
#sp_cinema{
    background-color: #222222;
}
.main .sp_cinema .partbox{
    height: 930px;
}
/*************** 3-4. 이벤트 **************/
#event{
    background-color: violet;
}
.main .event .partbox{
    height: 400px;
}
/*************** 4. 바로가기 아이콘 **************/
#dr_icon{
    background-color: coral;
}
.dr_icon .partbox{
    height: 200px;
}
/*************** 5. 푸터 **************/
#footer{
    background-color:cornflowerblue;
}
.footer .partbox{
    height: 200px;
}