@charset "utf-8";
/* 메가박스 레이아웃 - main.css */

/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400&display=swap');


/* 공사중표시 */
body *{
    outline: 1px dashed #ccc;
}
body>div>*{
    outline-color: red;
}

/************* 기본 초기화 셋팅 *************/

/* 기본초기화 */
html,body,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 전체 글자크기 적용 */
html{
    font-size: 10px;
    /* rem 단위를 위한 계산 편의성 셋팅 + 전체글자크기 제어 */
    background-color: #000;
}

/* ul, ol 순번, 블릿 없앰 */
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* a요소 리셋 */
a{
    text-decoration: none;
    color: #fff;
}

/************* 공통 레이아웃 클래스 *************/

/* col-숫자 : 숫자는 기둥의 수
한줄에는 최대한이 12기둥이 되어야함! */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* 속박스 */
.inbox{
    position: relative;
    /* 부모자격 */
    max-width: 1200px;
    margin: 0 auto;
}

/* 클리어 설정 가상요소 - float에 의한 망가짐 방지! */
.inbox::after,
.group-part::after{
    content: '';
    display: block;
    clear: both;
}

/* 파티션박스 */
.partbox{
    /* 보더/패딩 포함박스 */
    box-sizing: border-box;
    /* 내부패딩
    padding: 10px; */
    /* 임시 보이게 보더 */
    /* border: 2px dotted blue; */
    /* 높이값이 속박스에 있을 경우 채우기 셋팅 - 높이값이 파티션 박스에 있으면 안씀! */
    height: 100%;
}

/* 공통 flex 박스 클래스 */
.flex-box{
    display: flex;
    flex-wrap: wrap;
}

/*************** 1. 상단영역 ******************/
#header{
    background-color: lightblue;
}
/* 헤더 배경 */
.header__wrap{
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #00000078;
}
/* 1-1.로고박스 */
.logo img{
    padding: 2.5vw 0 1.5vw 0;
    max-width: 80%;
}

/* 1-2-1. member영역 - top */
.top-menu>ul{
    /* 플렉스 박스 */
    display: flex;
    /* 진행방향 : 오른쪽 끝 */
    justify-content: flex-end; 
    /* 패딩 - 간격 */
    padding: 30px 0 15px 0;
    font-weight: normal;
}
.top-menu>ul>li>a{
    /* 폰트사이즈 */
    font-size: 1.6rem;
    font-weight: 400;
    padding-left: 15px;

}
.top-menu>a {
}


/* 1-2-2. gnb영역 - bottom */
.gnb{
    /* padding-bottom: 15px; */
}
.gnb>ul{
    /* 플렉스 박스 */
    display: flex;
    /* 진행방향 : 오른쪽 끝 */
    justify-content: flex-end;
    /* 폰트사이즈 */
    font-size: 2.4rem;
    gap: 0 10px;
}
.gnb>ul>li{
    position: relative;
    padding-left: 70px;
}
/* gnb메뉴오버시 하위메뉴 보이기 */
.gnb>ul>li:hover .smenu{
    display: block;
}


.smenu{
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    text-align: right;
}
.smenu>ul{
    background-color: rgb(0 0 0 / 49%);
    border-radius: 15%;
    margin-top: 15px;

}

.smenu>ul>li{
    padding: 8px 10px
}
.smenu>ul>li>a{
    font-size: 1.8rem;
    font-weight: 300;
}
/*************** 2. 배너영역 ******************/
#banner{
    background: url(/images/main_1200.jpg) no-repeat center/auto 100%;
    /* height: 930px; */
    /* 박스비율 - 4:3 */
    aspect-ratio: 16/9;
}

/*************** 3. 상영작 영역 ******************/
#main{
    background-color: #000;
}

/* 메인 타이틀 공통 */
.tit{
    display: flex;
    font-size: 2.5rem;
    color: #fff;
    font-weight: normal;
}
/* 메인 더보기 공통 */
span a{
    float: right;
    font-size: 2rem;
    color: #999;
    font-weight: normal;
}

.grmenu ul{
    display: flex;
    font-size: 1.6rem;
}



/*************** 3-1. 현재상영작 **************/
.now_mv{
    position: relative;
    max-width: 1380px;
    margin: 0 auto;
    padding: 0;
}

/* 현재상영영화 */
.nowmv{
    display: flex;
}

.nowmv li{
    flex: 1;
    box-sizing: border-box;
    padding: 10px;
}

.nowmv img{
    width: 100%;
    border-radius: 5px;
}

/* 컨텐츠간 간격 */
.group-part.now_mv {
    padding: 150px 0;
}


/*************** 3-2. 상영예정작 **************/
.cs_mv{
    /* background-color: rgb(206, 206, 206); */
}
.main .cs_mv .partbox{
    /* height: 200px; */
}
/* 현재상영영화 */
.csmv{
    display: flex;
}

.csmv li{
    flex: 1;
    box-sizing: border-box;
    padding: 10px;
}

.csmv img{
    width: 100%;
    border-radius: 5px;
}
/* 컨텐츠간 간격 아래쪽만 */
.group-part.cs_mv {
    padding-bottom: 150px;
}
/*************** 4. 스페셜관 **************/
.sp_cinema{
    min-height: 930px;
    background: url(/images/cinema.png) no-repeat center/auto 100%;
    aspect-ratio: 16/9;
    opacity: 100%;
}
.main .sp_cinema .partbox{
    height: 930px;
}
.sp_menu{
    padding-top: 30px;
}
.sp_menu a{
    font-weight: normal;
    color: #fff;
    padding: 0;
    font-size: 1.8rem;
}
.sp_menu a:hover{
    color: #5ABEC8;
    font-weight: bold;
}

.sp_menu .col-3 {
    padding-right: 10px;
}

.txt_box {
    width: 50%;
    padding-top: 20vh;
}

.txt_box h1 {
    font-size: 6rem;
    color: #fff;
}
.txt_box h1 span {
    font-size: 2.4rem;
    font-weight: normal;
}
.txt_box h3 {
    font-size: 2rem;
    color: #fff;
    font-weight: 100;
}
.txt_box p {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: -0.1rem;
}


/*************** 5. 이벤트 **************/
.event{
    background-color: violet;
}
.main .event .partbox{
    height: 400px;
}
/*************** 6. 바로가기 아이콘 **************/
#dr_icon{
    background-color: coral;
}
.dr_icon .partbox{
    height: 200px;
}
/*************** 7. 푸터 **************/
#footer{
    background-color:cornflowerblue;
}
.footer .partbox{
    height: 200px;
}